body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

html {
  min-height: 100vh;
  margin: 0;
  margin: 15px;
}

* {
  font-family: sans-serif;
}