@media screen and (max-width: 1100px) {
    body{
        width:auto;
    }
}

@media screen and (max-width: 950px){
    :root{
        --number-count:3;
        --number-row-count:5;
    }

    #top-bar3-1:before {
        display: none;
    }
    #bottom-bar3-1:before{
        display: none;
    }
    #bottom-bar3-1:after{
        display: none;
    }
    .nums{
        text-align: center;
    }
    .numberRow{
        padding-bottom: 0.5em;
    }

    .decal-top-left, .bottom-left-side{
        width:200px;
        min-width: 200px;
        max-width: max-content;
        flex:none;
    }

}


@media screen and (max-width: 700px){
    :root{
        font-size: 1.2rem;
    }
    body{
        padding:3px;
    }
    .decal-top-left, .bottom-left-side{
        width: 100px;
        min-width: 100px;
        font-size: 0.8rem;
    }
    .wrap{
        padding-right: 5px;
    }
    .numbers{
        display: none;
        width:0px;
    }

    main p{
        margin-top: 0.7em;
    }
    
}
@media screen and (max-width: 800px) {
    .numbers{
        display:none;
        width:0px;
    }
}
@media screen and (max-width:600px){
    h1{
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    :root{
        --number-count:3;
    }


    #bottom-bar3-1{
        display: none;
    }
    #top-bar3-1 {
        display: none;
    }

    .decal-top-left, .bottom-left-side{
        width: 60px;
        min-width: 60px;
        font-size: 0.6rem;
    }
    .sidebar-bottom{
        border-radius: 110px 0 0 0;
    }
    #space{
        margin-top: 5px;
    }
    #fullscreen1{
        display:none;
    }
    #fullscreen2{
        display: block;
    }
    .panel-top-left{
        height:65px;
    }
    #top-left2{
        display: block;
    }
}

@media screen and (max-width:430px){
    .top-right-mid{
        flex-direction: column;
    }
    .numbers{
        display:none;
        width:0px;
    }
    .filler {
        max-width:  450px;
        flex:2;
        margin-left:1em;
        color: #000;
        overflow: auto;
        scrollbar-width: none;
    }
    .filler div{
        font-size: 0.8em;
        background-color: var(--main-colour);
        margin:0.5em;
        border-radius: 50px;
        text-align:center;
    }
    div#about-page {
        position: relative;
        left: unset;
        top: unset;
    }
      
    div#robot-page {
        top: unset;
    }
      
    div#team-page {
        bottom: unset;
    }
      
    div#journal-page {
        bottom: unset;
        left: unset;
    }
      
    div#media-page {
        bottom: unset;
        left:unset;
    }
}


@media (orientation: landscape) and (max-height: 500px) {
    body{
        overflow: auto;
        scrollbar-width:none;   
    }
    .top-right-mid{
        justify-content:center;
    }
}
