.member-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  outline: 15px solid blue;
  outline-offset: -50px;
  outline-style: inset;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.member-section * {
  margin: 0 20px;
}

.member-name {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.profile-image {
  width: 500px;
  object-fit: contain;
  border-radius: 20px;
}


.info-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8cqh;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 150px;
}

.member-section img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-top: 5%;
}

.info-section h2 {
  margin-bottom: 20px;
}

.info-section p {
  text-align: center;
  margin: 10px 0;
}

.x-button {
  top: 7%;
  left: 3%;
  position: absolute;
}

.x-button:hover {
  color: #ff977b;
}
